---
import Layout from '../layouts/Layout.astro';
import Github from '../components/Github.astro';
import Card from '../components/Card.astro';
---

<Layout title="Bienvenido a Mi Escape Room">
	<slot/>
	<header class="bg-halloween overlay h-screen flex flex-col justify-center items-center">
		<h1 class="text-6xl spooky-font text-orange-500 mb-4">¡Feliz Halloween!</h1>
		<p class="text-2xl spooky-font text-white mb-8">Prepara tu disfraz y tus dulces...</p>
		<a href="#main-content" class="px-6 py-3 bg-orange-500 text-black rounded-lg text-lg hover:bg-orange-600 transition">Explorar</a>
	</header>
    <section class="container mx-auto text-center">
		<h2 class="text-4xl font-bold text-white spooky-font mb-8">Actividades de Halloween</h2>
		<Card cardtitle='Scape Room Unico' description='Una experiencia que tu y los tuyos jamas podreis olvidar en vuestras vidas hahahahahaha' image='../../public/1card.jpg'/>
		<Card cardtitle='Scape Room Unico' description='Una experiencia que tu y los tuyos jamas podreis olvidar en vuestras vidas hahahahahaha' image='../../public/1card.jpg'/>
		<Card cardtitle='Scape Room Unico' description='Una experiencia que tu y los tuyos jamas podreis olvidar en vuestras vidas hahahahahaha' image='../../public/1card.jpg'/>
	</section>

	<!-- Aquí se agregan los iconos de redes sociales al footer -->
	<slot name="social">
	<div>
		<Github ref="https://github.com/Juanjocampus1/ScapeBoo.git" />
	  </div>
	</slot>
  </Layout>
  

